{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
	   <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
<!--===============================================================================================-->

</head>
<body>
 <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="h-100 d-md-flex justify-content-between align-items-center">
                <div class="email-address">
                    <a href="mailto:contact@southtemplate.com">contact@tothenew.com</a>
                </div>
                <div class="phone-number d-flex">
                    <div class="icon">
                        <img src="{% static 'img/icons/phone-call.png' %}" alt="">
                    </div>
                    <div class="number">
                        <a href="tel:+91 954 099 3336">+91 954 099 3336</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="southNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="#"><img src="{% static 'homepage/img/core-img/logo.png' %}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'homepage' %}">Home</a></li>

                                <li><a href="{% url 'featured_properties' %}">Featured Properties</a></li>
                                {% if request.session.logged_in %}
                                <li><a class="waves-effect waves-dark" href="{% url 'dashboard' %}">
                                  {% if request.session.is_seller %}
                                    {{request.user.first_name}}|Seller
                                {% else %}
                                    {{request.user.first_name}}|Buyer
                                {% endif %}
                            </a></li>
                                {% if request.session.is_seller %}
                            <li><a class="waves-effect waves-dark" href="{% url 'property_add' %}">Post Property</a></li>
                        {% endif %}
                            <li><a class="waves-effect waves-dark" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a class="waves-effect waves-dark" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                                <li><a href="#">Contact</a></li>
                            </ul>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
<br><br><br><br><br>
	<div class="limiter">
		<div class="container-login1000" style="background-image: url({% static 'login/images/bg-01.jpg' %});">
			<center><div class="wrap-login100">
				{% for items in error.values %}
    			{{items}}
    			{% endfor %}
				{% for message in messages %}
    			{{message}}
				{% endfor %}
				<form method="POST">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					{% csrf_token %}
    				{{form | crispy }}
    				<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>
			</div>
				</center>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %} "></script>

</body>
</html>