{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
      {% include 'header.html' %}
</head>
<body>

<br><br><br><br><br><br><br><br>

<!-- ##### Advance Search Area Start ##### -->
    <div class="south-search-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="advanced-search-form">
                        <!-- Search Title -->
                        <div class="search-title">
                            <p>Search for your home</p>
                        </div>
                        <!-- Search Form -->
                        <form method="get" action="{% url 'search' %}" id="advanceSearch">
                            <div class="row">

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        Property name (contains): {{filter.form.property_title__icontains}}
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        City: {{filter.form.property_city}}
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        Pin Code: {{filter.form.property_pin}}
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        No. of Bedrooms: {{filter.form.property_bedrooms}}
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-xl-3">
                                    <div class="form-group">
                                        No. of Bathrooms: {{filter.form.property_bathrooms}}
                                    </div>
                                </div>

                                <div class="col-12 col-md-4 col-xl-2">
                                    <div class="form-group">
                                        No. of Garages: {{filter.form.property_garage}} <br><br><br>
                                    </div>
                                </div>

                                    <!-- Submit -->
                                    <div class="form-group mb-0" style="margin-left:400px">
                                        <br><button type="submit" class="btn south-btn"><a href="{% url 'search' %}"></a>Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Advance Search Area End ##### -->




  {% for property in final %}
    <ul>
      <img style="height:100%;max-height:500px;" src="{{property.1.property_image.url}}" alt="Image">
      <li>Image title: {{property.1.property_image}}</li>
      <li>Title: {{ property.0.property_title }}</li>
      <li>Address: {{ property.0.property_address }}</li>
      <li>City: {{property.0.property_city}}</li>
      <li>State: {{property.0.property_state}}</li>
      <li>Pin Code: {{ property.0.property_pin }}</li>
      <li>Price: {{ property.0.property_price }}</li>
      <li>No. of bedrooms: {{ property.0.property_bedrooms }}</li>
      <li>No. of bathrooms: {{ property.0.property_bathrooms }}</li>
      <li>Area: {{ property.0.property_sqFeet }}sqft</li>
      <li>Lot Size: {{ property.0.property_lotSize }}</li>
      <li>No. of Garages: {{ property.0.property_garage }}</li>
      <li>Description: {{ property.0.property_description }}</li>
      <br><br>
    </ul>
  {% endfor %}


</body>
</html>