
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <form method="get" action="{% url 'search' %}">
    {{ filter.form.as_p }}
    <input type="submit">Search</input>
  </form>
  <ul>
  {% for property in filter.qs %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="border:1px solid black; width:500px;height:200px;margin:0 auto; ">
<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
</ol>
    <div class="carousel-inner" role="listbox" >
    {% for property_object in property.property_images %}
    {% if forloop.counter == 1 %}
    <div class="item active">
    {% else %}
    <div class="item">
    {% endif %}
         <img src ="{{property_object.property.property_image.url}}" >
    </div>
    {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>


</div>

    <li>{{ property.property_title }}</li>
    <li>{{ property.property_address }}</li>
    <li>{{ property.property_pin }}</li>
    <li>{{ property.property_price }}</li>
    <li>{{ property.property_bedrooms }}</li>
    <li>{{ property.property_bathrooms }}</li>
    <li>{{ property.property_sqFeet }}</li>
    <li>{{ property.property_lotSize }}</li>
    <li>{{ property.property_garage }}</li>
    <li>{{ property.property_description }}</li>


  {% endfor %}
  </ul>

</body>
</html>