{% load widget_tweaks %}

<html>
{% include 'header.html' %}
<title>Update Property</title>
<body>
<br><br><br><br><br><br><br><br>
<center>
<form method="POST" enctype="multipart/form-data">
    {% if property.errors %}<li>{{ property.label }}: {{ property.errors|striptags }}</li>{% endif %}
    {% csrf_token %}
Title:<input type="text" value="{{property.property_title}}" name="property_title"><br>
Address:<input type="text" value="{{property.property_address}}" name="property_address"><br>
Address:<input type="number" value="{{property.property_pin}}" name="property_pin"><br>
Price:<input type="number" value="{{property.property_price}}" name="property_price"><br>
Bedroom:<input type="number" value="{{property.property_bedrooms}}" name="property_bedrooms"><br>
Bathroom:<input type="number" value="{{property.property_bathrooms}}" name="property_bathrooms"><br>
Square Feet:<input type="number" value="{{property.property_sqFeet}}" name="property_sqFeet"><br>
Lot Size:<input type="number" value="{{property.property_lotSize}}" name="property_lotSize"><br>
Garage:<input type="number" value="{{property.property_garage}}" name="property_garage"><br>
Description:<input type="text" value="{{property.property_description}}" name="property_description"><br>
Upload Images:<input type="file" multiple value="{{property_images}}" name="property_images"><br>
<input type="submit" value="Update Property" name="update_property">
</form>
    </center>
</body>
</html>